{% extends 'base.html.twig' %} {% block title %}Liste des formations{% endblock
%} {% block body %}
<div class="mainList">
  <section>
    <h1>Liste des formations</h1>
    <div class="tbl-header">
      <table cellpadding="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom du programme</th>
            <th>Nombres de sessions</th>
          </tr>
        </thead>
      </table>
    </div>
    <div class="tbl-content">
      <table cellpadding="0" cellspacing="0" border="0">
        <tbody>
          {% for formation in formations %}
          <tr>
            <td>{{formation.id}}</td>
            <td>{{formation.nomFormation}} </td>
            {% if formation.posseder %}
            <td>{{formation.posseder|length}} sessions prévus</td>
            {% else %}
            <td>Aucune session prévu</td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>
</div>
{% endblock %}