{% extends 'base.html.twig' %} {% block title %}Liste des formations{% endblock
%} {% block body %}
<div class="mainListFormation">
  <div class="holderListFormation">
    <div class="listFormation">
      <h1>Liste des formations</h1>
      <table class="tableListFormation">
        <thead>
          <tr>
            <th>id</th>
            <th>Nom</th>
          </tr>
        </thead>
        <tbody>
          {% for formation in formations %}
          <tr>
            <td>{{ formation.id }}</td>
            <td>{{ formation.nomFormation }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
