{% extends 'base.html.twig' %}
{% block title %} Créer une formation {% endblock %} 
{% block body %}
{{ include("navbar.html") }}
<div class="mainNewFormation">
  <div class="holderMainNewFormation">
    <div class="titleHolderNewFormation">
      {% if edit %}
      <h1>Modifier une formation</h1>
      {% else %}
      <h1>Créer une formation</h1>
      {% endif %}
    </div>
    <div class="form">
        {{form(formCreate)}}
    </div>
  </div>
</div>
{{ include("footer.html") }}
{% endblock %}