{% extends 'base.html.twig' %} 
{% block title %}Accueil{% endblock %}
{% block body %}
<div class="main">
  <div class="holderMain">
    <div class="titleHolder">
      <h1>Bienvenue chez Kashir</h1>
    </div>
    <div class="presentationText">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt
        possimus error at iure et voluptates minus, odio sit vitae adipisci
        facere quibusdam, dolores doloribus eaque commodi, cupiditate odit.
        Neque, labore!
      </p>
    </div>
    <div class="joinText">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        cupiditate deserunt, exercitationem, sed voluptatum earum, culpa commodi
        optio amet architecto accusamus accusantium praesentium non? Error,
        accusantium omnis? Commodi, atque porro.
      </p>
    </div>
  </div>
</div>
{% endblock %}
